
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h3 {
  font-size: 45px;
  font-weight: 900;
}


.orenge {
  color: #FD6E0A;
}


header {
  background-color: #FFF8F3;
  background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}


nav {
  width: 73%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}


.btn {
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


#banner {
  max-width: 1140px;
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-contant h2 {
  font-size: 45px;
  font-weight: 400;
  color: #411b00;
  margin-bottom: 5px;
}

#banner .banner-contant h1 {
  font-size: 85px;
  font-weight: 800;
  color: #411b00;
  margin-bottom: 25px;
}
#banner .banner-contant p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
#banner .banner-content {
  max-width: 585px;
  vertical-align: middle;
}

#banner .image {
  max-width: 900px;
  vertical-align: middle;
}